.mySkills{}
.flex-container{
  display: flex;
    flex-direction: row-reverse;
    grid-area: My Area;
} 
  .grid-container {
    grid-template-areas: 'myArea myArea myArea myArea myArea';
grid-template-rows: 300px 300px 300px 300px 300px;
grid-template-columns: Ifr;
}
.workGrid{

  position: absolute;
  width: 202px;
  height: 175px;
  left: 132px;
  top: 194px;
  
  background: url(image.png);
  border: 5px solid #FF0606;
  box-sizing: border-box; 
}